.book-card {
  background-color: var(--card);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  min-width: 200px;
  flex-grow: 1;
}
#list__loader{
  display: none;
}
.book-card__image {
  width: 200px;
  z-index: 1;
}

.book-card{
  width: 250px;
}
.book-card__title{
  word-wrap: normal;
}
.book-card__fave-button{
  background-color: #00000000;
 border: none;
  padding: 0;
  margin: 0;
  outline: unset;
  display: inline-flex;
    align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
  position: relative;
  width: 30px;
  height: 30px;

}
.book-card__fave-button:hover {
  cursor: pointer;
  scale: 1.2;

}
.book-card__icon{
  width: 30px;
  height: 30px;
  opacity: 1;
  border-radius: 50%;
  pointer-events: none
}
.book-card__fave-button:hover .book-card__icon{
 
  filter: brightness(70%) saturate(7000%);

}
.book-card__icon--faved{
  filter: brightness(70%) saturate(7000%);
}
.book-card--hidden{
  display: none;
}
.filters__author-filter{
  background-color: var(--secondary);
  border: none;
  padding: .5em 1.245em;
  margin: 5px;
  border-radius: 6px;
}
.filters__author-filter--selected{
  background-color: var(--green);
  color: var(--secondary)
}