.book-card {
  background-color: var(--card);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  min-width: 170px;

}

.book-card__image {
  width: 90%;
  height: 280px;
  object-fit: cover;
  z-index: 1;
}

.sidebar__list .book-card{
  border: 2px green solid;
}
.book-card__title{
  word-wrap: normal;
  color: var(--title);
}
.book-card__author,
.book-card__year{
  color: var(--text);
}
.book-card__fave-button{
  background-color: #00000000;
 border: none;
  padding: 0;
  margin: 0;
  outline: unset;
  display: inline-flex;
    align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
  position: relative;
  width: 30px;
  height: 30px;

}
.book-card__fave-button:hover {
  cursor: pointer;
  scale: 1.2;

}
.book-card__icon{
  width: 30px;
  height: 30px;
  opacity: 1;
  border-radius: 50%;
  pointer-events: none
}
.book-card__fave-button:hover .book-card__icon{
 
  filter: brightness(70%) saturate(7000%);

}
.book-card__icon--faved{
  filter: brightness(70%) saturate(7000%);
}
.book-card--hidden{
  display: none;
}
.filters__author-filter{
  background-color: var(--secondary);
 color: var(--title);
  margin: 5px;
}
.filters__author-filter--selected{
  background-color: var(--green);
  color: var(--white);
}