.search {
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
  border: 1px solid rgb(135, 185, 185);
}
.search__title{
  font-size: 2.25rem;
}
.search__description{
  margin: 20px;
  word-wrap: normal;
}
.search__input {
  padding: 1em 1.5em;
}

.search__button {
  background-color: var(--green);
  padding: 1em 1.5em;
  outline: none;
  color: var(--white);
  border: none;
  border-radius: 6px;
}
.search__form{
    border: 1px green solid;
}