@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');
@import "./styles/reset.css";
@import "./styles/button.css";
@import "./styles/header.css";
@import "./styles/search.css";
@import "./styles/book-card.css";
@import "./styles/footer.css";

:root {
  --white: #ffffff;
  --green: #27694d;
  --yellow: #daa520;
  --red: #ef4444;
  --brown: #383129;
  --black: #2a2622;

  --title: #2b2622;
  --text: #7c736a;
  --border: #E7E2DA;

  --background: #f7f4ef;
  --card: #fcfaf7;
  --secondary: #eeebe4;
  --shadow: #c4b8a8;
  --favorite: #eaf0ed;
}


.theme-dark{
  --green: hsl(155, 46%, 40%);
  --brown: hsl(32, 15%, 81%);


 --title: hsl(27, 12%, 85%);
  --text: hsl(30, 8%, 65%);
  --border: hsl(37, 21%, 12%);

  --background: hsl(38, 33%, 20%);
  --card: hsl(36, 45%, 18%);
  --secondary: hsl(42, 23%, 19%);
  --shadow: hsl(34, 19%, 29%);
  --favorite: hsl(150, 17%, 17%);

  
  
}

root {
  font-size: 18px;
  font-family: sans-serif;
}

body {
  background-color: var(--background);
  color: var(--title);
  padding: 5px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  border: 2px solid rgb(255, 59, 59);
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0 auto;
  min-width: 400px;
  position: relative;
  transition: 0.2s ease all;
  max-width: 1200px;
}
main{
  flex: 1;
}
h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
.sidebar{
 
  border: 2px magenta solid;
  margin: 5px;
  border-radius: 20px;
 
}
.sidebar__list{
  border: 3px solid rgb(219, 197, 0);
  border-radius: 20px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.books{
  flex: 1;
  border: 2px solid rgb(255, 187, 0);
  border-radius: 20px;

}
.books__list {
  display: grid;
  border: 2px rgb(43, 220, 20) solid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  border-radius: 20px;

}
.books__message{
  display: block;
  text-align:center;
  margin: 50px 0;
  font-size: 2rem;
  color: var(--text);
  font-weight: 200;
}
.content{
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  position: relative;
}
.content--empty{
  border: 2px solid var(--brown);
}
@media (min-width:800px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
  }

  .sidebar {
    max-width: 250px;
    align-self: flex-start;
    max-height: 70vh;  
    overflow-y: scroll;
  }
}



