@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');
@import "./styles/reset.css";
@import "./styles/header.css";
@import "./styles/search.css";
@import "./styles/book-card.css";
@import "./styles/footer.css";

:root {
  --white: #ffffff;
  --green: #27694d;
  --yellow: #daa520;
  --red: #ef4444;
  --brown: #383129;
  --black: #2a2622;

  --title: #2b2622;
  --text: #7c736a;
  --border: #E7E2DA;

  --background: #f7f4ef;
  --card: #fcfaf7;
  --secondary: #eeebe4;
  --shadow: #c4b8a8;
  --favorite: #eaf0ed;
}


root {
  font-size: 18px;
  font-family: sans-serif;
}

body {
  background-color: var(--background);
  padding: 5px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  border: 2px solid rgb(255, 59, 59);
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}
main{
  flex: 1;
}
h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}


.books__list {
  display: flex;
  border: 1px crimson solid;
  flex-wrap: wrap;
}





